@font-face {
    font-weight: 400;
    font-family: OffBit;
    src: url("../fonts/OffBit-Regular.ttf"),
        url("../fonts/OffBit-Regular.woff");
}

@font-face {
    font-weight: 600;
    font-family: OffBit;
    src: url("../fonts/OffBit-Bold.ttf"),
        url("../fonts/OffBit-Bold.woff");
}
