::-webkit-scrollbar {
    width: 20px;
    height: 40px;
}

::-webkit-scrollbar-track {
    background: #68c7d5f5;
}

::-webkit-scrollbar-thumb {
    background: #1c32dd;
    cursor: pointer;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #dda21c;
}